<div class="notice_title">
    <%=notice.title%>
</div>
<div class="notice_content">
    <pre><%=notice.content%></pre>
</div>
<input type="hidden" id="time" value="<%=notice.create_time%>">
<div class="notice_time" id="time_title">
    
</div>