<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="T100FontPanel">
		<size>400,550</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>字体：</label>
			<pos>8,0</pos>
			<size>256,64</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<label>字号：</label>
			<pos>272,0</pos>
			<size>128,64</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX3" variable="StaticBox3" member="yes">
			<label>编码：</label>
			<pos>8,64</pos>
			<size>392,184</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX4" variable="StaticBox4" member="yes">
			<label>文件：</label>
			<pos>8,248</pos>
			<size>392,64</size>
		</object>
		<object class="wxChoice" name="ID_CHOICE_FONT" variable="FontChoice" member="yes">
			<pos>16,24</pos>
			<size>176,25</size>
			<handler function="OnFontChoiceSelect" entry="EVT_CHOICE" />
		</object>
		<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="NameCodeRadioButton1" member="yes">
			<label>GBK</label>
			<pos>200,16</pos>
			<handler function="OnNameCodeRadioButton1Select" entry="EVT_RADIOBUTTON" />
		</object>
		<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="NameCodeRadioButton2" member="yes">
			<label>UTF-8</label>
			<pos>200,40</pos>
			<size>56,17</size>
			<handler function="OnNameCodeRadioButton2Select" entry="EVT_RADIOBUTTON" />
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX_FONTSIZE" variable="FontSizeComboBox" member="yes">
			<pos>280,24</pos>
			<style>wxCB_READONLY</style>
			<handler function="OnFontSizeComboBoxSelected" entry="EVT_COMBOBOX" />
			<handler function="OnFontSizeComboBoxTextUpdated" entry="EVT_TEXT" />
			<handler function="OnFontSizeComboBoxTextEnter" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxListBox" name="ID_LISTBOX_COUNTRY" variable="CountryListBox" member="yes">
			<default>-1</default>
			<pos>16,88</pos>
			<size>84,152</size>
			<handler function="OnCountryListBoxSelect" entry="EVT_LISTBOX" />
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX_CODEBEGIN" variable="CodeBeginComboBox" member="yes">
			<pos>280,88</pos>
			<handler function="OnCodeBeginComboBoxSelected" entry="EVT_COMBOBOX" />
			<handler function="OnCodeBeginComboBoxTextUpdated" entry="EVT_TEXT" />
			<handler function="OnCodeBeginComboBoxTextEnter" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX_CODEEND" variable="CodeEndComboBox" member="yes">
			<pos>280,128</pos>
			<handler function="OnCodeEndComboBoxSelected" entry="EVT_COMBOBOX" />
			<handler function="OnCodeEndComboBoxTextUpdated" entry="EVT_TEXT" />
			<handler function="OnCodeEndComboBoxTextEnter" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxButton" name="ID_BUTTON_APPEND" variable="AppendButton" member="yes">
			<label>添加</label>
			<pos>288,168</pos>
			<handler function="OnAppendButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON_REMOVE" variable="RemoveButton" member="yes">
			<label>删除</label>
			<pos>288,208</pos>
			<handler function="OnRemoveButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX_FILE" variable="FileComboBox" member="yes">
			<pos>16,272</pos>
			<size>280,25</size>
			<handler function="OnFileComboBoxSelected" entry="EVT_COMBOBOX" />
			<handler function="OnFileComboBoxTextUpdated" entry="EVT_TEXT" />
			<handler function="OnFileComboBoxTextEnter" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wxButton" name="ID_BUTTON_BROWSE" variable="BrowseButton" member="yes">
			<label>浏览…</label>
			<pos>312,272</pos>
			<size>75,23</size>
			<handler function="OnBrowseButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON_RUN" variable="RunButton" member="yes">
			<label>运行</label>
			<pos>160,328</pos>
			<handler function="OnRunButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxPanel" name="ID_PANEL_PAINT" variable="PaintPanel" member="yes">
			<pos>120,376</pos>
			<size>168,152</size>
			<style>wxBORDER_SIMPLE</style>
			<handler function="OnPaintPanelPaint" entry="EVT_PAINT" />
		</object>
		<object class="wxListCtrl" name="ID_LISTCTRL_FONTCODE" variable="FontCodeListCtrl" member="yes">
			<pos>104,88</pos>
			<size>168,152</size>
			<style>wxLC_REPORT|wxBORDER_SIMPLE</style>
			<handler function="OnFontCodeListCtrlItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
			<handler function="OnFontCodeListCtrlItemDeselect" entry="EVT_LIST_ITEM_DESELECTED" />
		</object>
	</object>
</wxsmith>
