<fieldset>
    <legend>Site</legend>
    <div>
        Open
        Close
    </div>
</fieldset>
<fieldset>
    <legend>Register</legend>
    <div>
        Open
        Close
    </div>
</fieldset>
<fieldset>
    <legend>Login</legend>
    <div>
        Open
        Close
    </div>
</fieldset>                       
<fieldset>
    <legend>Publish</legend>
    <div>
        Open
        Close
    </div>
</fieldset>         
<fieldset>
    <legend>Reply</legend>
    <div>
        Open
        Close
    </div>
</fieldset>       
<fieldset>
    <legend>List</legend>
    <div>
        Open
        Close
    </div>
</fieldset>       
<fieldset>
    <legend>Search</legend>
    <div>
        Open
        Close
    </div>
</fieldset>       
<fieldset>
    <legend>Board</legend>
    <div>
        Open
        Close
    </div>
</fieldset>