<fieldset>
    <legend>Site</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="site" onclick="update_status('/admin/global/site', true);">
        <label>Close</label>
        <input type="radio" name="site" onclick="update_status('/admin/global/site', false);">
    </div>
</fieldset>
<fieldset>
    <legend>Register</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="register">
        <label>Close</label>
        <input type="radio" name="register">
    </div>
</fieldset>
<fieldset>
    <legend>Login</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="login">
        <label>Close</label>
        <input type="radio" name="login">
    </div>
</fieldset>                       
<fieldset>
    <legend>Publish</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="publish">
        <label>Close</label>
        <input type="radio" name="publish">
    </div>
</fieldset>         
<fieldset>
    <legend>Reply</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="reply">
        <label>Close</label>
        <input type="radio" name="reply">
    </div>
</fieldset>       
<fieldset>
    <legend>List</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="list">
        <label>Close</label>
        <input type="radio" name="list">
    </div>
</fieldset>       
<fieldset>
    <legend>Search</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="search">
        <label>Close</label>
        <input type="radio" name="search">
    </div>
</fieldset>       
<fieldset>
    <legend>Board</legend>
    <div class="setting_box">
        <label>Open</label>
        <input type="radio" name="board">
        <label>Close</label>
        <input type="radio" name="board">
    </div>
</fieldset>