<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="T100EditorFrame">
		<object class="wxAuiManager" variable="AuiManager" member="yes">
			<object class="AuiManagerItem">
				<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="AuiToolBar1" member="yes">
					<pos>135,253</pos>
					<object class="AuiToolBarItem">
						<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM1" variable="AuiToolBarItem1" member="yes" />
						<label>Item label</label>
					</object>
				</object>
				<name>PaneName0</name>
				<standardpanetype>Toolbar</standardpanetype>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<layer>10</layer>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<resizable>0</resizable>
				<gripper>Default</gripper>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="AuiNotebook1" member="yes">
					<pos>89,266</pos>
				</object>
				<name>PaneName1</name>
				<caption>Pane caption</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Left</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM_NEW" variable="MenuItemNew" member="yes">
					<label>New</label>
					<handler function="OnMenuItemNewSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM_OPEN" variable="MenuItemOpen" member="yes">
					<label>Open...</label>
					<handler function="OnMenuItemOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM_CLOSE" variable="MenuItemClose" member="yes">
					<label>Close</label>
					<handler function="OnMenuItemCloseSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM_SAVE" variable="MenuItemSave" member="yes">
					<label>Save</label>
					<handler function="OnMenuItemSaveSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM_SAVE_AS" variable="MenuItemSaveAs" member="yes">
					<label>Save As...</label>
					<handler function="OnMenuItemSaveAsSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Edit</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem3" member="yes">
					<label>Undo</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem4" member="yes">
					<label>Redo</label>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem5" member="yes">
					<label>Cut</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem6" member="yes">
					<label>Copy</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem7" member="yes">
					<label>Paste</label>
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>View</label>
			</object>
			<object class="wxMenu" variable="Menu5" member="yes">
				<label>Search</label>
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem8" member="yes">
					<label>Find</label>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem9" member="yes">
					<label>Replace</label>
				</object>
			</object>
			<object class="wxMenu" variable="Menu6" member="yes">
				<label>Settings</label>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
