<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="T100FontFrame">
		<size>400,550</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="Custom" name="ID_FONTPANEL" subclass="T100FontPanel" variable="FontPanel" member="yes">
			<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
			<include_file>T100FontPanel.h</include_file>
			<local_include>1</local_include>
			<style></style>
			<pos>144,344</pos>
		</object>
	</object>
</wxsmith>
