<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="T100VDiskFrame">
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="Custom" name="ID_CUSTOM1" subclass="T100VDiskCtrl" variable="VDiskCtrl" member="yes">
						<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),wxDefaultValidator,$(NAME));</creating_code>
						<include_file>T100VDiskCtrl.h</include_file>
						<style></style>
						<size>600,30</size>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENU_NEW" variable="MenuNew" member="yes">
					<label>New</label>
					<handler function="OnMenuNewSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_OPEN" variable="MenuOpen" member="yes">
					<label>Open</label>
					<handler function="OnMenuOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_SAVE" variable="MenuSave" member="yes">
					<label>Save</label>
					<handler function="OnMenuSaveSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_CLOSE" variable="MenuClose" member="yes">
					<label>Close</label>
					<handler function="OnMenuCloseSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
