body > div > div {
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: top;
}

body > div > div > fieldset {
    width: 164px;
    min-height: 600px;
}

body > div > div > fieldset + fieldset{
    width: 800px;
    min-height: 600px;
}

nav a {
    margin-left: 5px;
    margin-right: 5px;
}

.nav_channel {
	justify-content:left;
}

.form {
    width: 1024px;
    min-height: 200px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

form {
    width: 770px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


form + div {
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > div > div {
    width: 400px;
    line-height: 35px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

form > div > div > label {
    display: flex;
    width: 100px;
    text-align: left;
    font-weight: bold;
}

form > div > div > input {
    width: 292px;
}

form > div > div > button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form_title {
    font-size: large;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

.form_msg {
    width: 400px;
    line-height: 35px;
    align-items: normal;
    margin-bottom: 5px;
}

.form_redirect {
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
input[type="email"] {
    width: 220px;
}
*/

.normal_email {
    width: 220px;
}

.code {
    width: 100px;
}

.button {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="email"] + button {
    width: 60px;
    margin-left: 10px;
}

.setting_box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.setting_box > label {
    display: block;
    width: 80px;
}

.setting_box > input {
    margin-right: 50px;
}

fieldset {
    margin-bottom: 20px;
}