<div locale="identity_init_msg">
    Hello
</div>
<div>
    <div>
        <div>
            <label locale="username_label">Username:</label>
            <input disabled type="text" value="<%=identity.username%>">
        </div>
    </div>
</div>
<form id="form" onsubmit="return false;">
<input type="hidden" name="test">
<div>
    <div>
        <div>
            <label locale="nickname_label">Nickname:</label>
            <input type="text" name="nickname" value="<%=identity.nickname%>">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label locale="location_label">Location:</label>
        </div>
    </div>
    <div>
        <div>
            <dl>
                <dd>
                    <div class="region">
                        <label locale="continent_label">Continent:</label>
                        <input type="hidden" id="continent_title" name="continent_title">                        
                        <select style="display:block;width: 150px;" id="continent" name="continent" onchange="continent_dev_change(this, 'region');">

                        </select>
                    </div>
                    
                    <div class="region">
                        <label locale="region_label">Region:</label>
                        <input type="hidden" id="region_title" name="region_title">
                        <select style="display:block;width: 150px;" id="region" name="region" onchange="region_dev_change('continent', 'region', 'city');">
                            
                        </select>
                    </div>

                    <div class="region">
                        <label locale="city_label">City:</label>
                        <input type="hidden" id="city_title" name="city_title">
                        <select style="display:block;width: 150px;" id="city" name="city" onchange="city_dev_change(this, 'city_title');">
                            
                        </select>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label locale="intro_label">Intro:</label>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <textarea name="intro" rows="10" cols="80"></textarea>
        </div>
    </div>
</div>
<div>
    <button id="submit" locale="save">Save</button>
</div>
</form>