<div>
    Hello
</div>
<div>
    <div>
        <div>
            <label>Username:</label>
            <input disabled type="text" value="<%=identity.username%>">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Nickname:</label>
            <input disabled type="text" name="nickname" value="<%=identity.nickname%>">
        </div>
        <button id="nickname_button" onclick="">Edit</button>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Location:</label>
        </div>
        <button id="location_button" onclick="location_edit();">Edit</button>
    </div>
    <div id="location_box">
        <div>
            <dl>
                <dd>
                    <div class="region">
                        <label>Continent:</label>
                        <input disabled type="text" value="">
                    </div>
                    
                    <div class="region">
                        <label>Region:</label>
                        <input disabled type="text" value="">
                    </div>

                    <div class="region">
                        <label>City:</label>
                        <input disabled type="text" value="">
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Intro:</label>
        </div>
        <button id="intro_button" onclick="intro_edit();">Edit</button>
    </div>
</div>
<div>
    <form id="intro_form">
    <input type="hidden" name="test">
    <div>
        <div>
            <textarea disabled id="intro" name="intro" rows="10" cols="80"><%=identity.intro%></textarea>
        </div>
    </div>
    </form>
</div>