<div>
    Hello
</div>
<div>
    <div>
        <div>
            <label>Username:</label>
            <input disabled type="text" value="<%=identity.username%>">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Nickname:</label>
            <input type="text" name="nickname" value="<%=identity.nickname%>">
        </div>
        <button id="nickname_button" onclick="">Edit</button>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Location:</label>
        </div>
        <button id="location_button" onclick="">Edit</button>
    </div>
    <div>
        <div>
            <dl>
                <dd>
                    <div class="region">
                        <label>Continent:</label>
                        <select id="continent" name="continent" onchange="continent_change(this, 'region');">

                        </select>
                    </div>
                    
                    <div class="region">
                        <label>Region:</label>
                        <select id="region" name="region" onchange="region_change(this, 'city');">
                            
                        </select>
                    </div>

                    <div class="region">
                        <label>City:</label>
                        <select id="city" name="city">
                            
                        </select>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <label>Intro:</label>
        </div>
        <button>Edit</button>
    </div>
</div>
<div>
    <div>
        <div>
            <textarea name="intro" rows="10" cols="80"></textarea>
        </div>
    </div>
</div>