<fieldset class="account_box">
    <legend>Account</legend>
    <div>
        <div>
            <div class="left_item">
                <div class="label">
                    Username:
                </div>
                <div class="value">
                    <%=profile.username%>
                </div>
            </div>
            <div class="right_item">

            </div>
        </div>
        <div>
            <div class="left_item">
                <div class="label">
                    Nickname:
                </div>
                <div class="value">
                    nickname
                </div>
            </div>
            <div>
                <button class="button" id="nickname_button" onclick="nickname_edit();">Edit</button>
            </div>
        </div>
        <div id="nickname_box">

        </div>
        <div>
            <div class="left_item">
                <div class="label">
                    Password:
                </div>
                <div class="value">
                    xxxxxxxx
                </div>
            </div>
            <div>
                <button class="button" id="password_button" onclick="password_edit();">Edit</button>
            </div>
        </div>
        <div id="password_box">

        </div>
        <div>
            <div class="left_item">
                <div class="label">
                    Email:
                </div>
                <div class="value">
                    <%=profile.email%>
                </div>
            </div>
            <div>
                <button class="button" id="email_button" onclick="email_edit();">Edit</button>
            </div>
        </div>
        <div id="email_box">

        </div>
    </div>
</fieldset>
<fieldset class="profile_box">
    <legend>Profile</legend>
    <div>
        <div>
            <div class="left_item">
                <div class="label">
                    Nationality:
                </div>
                <div class="value">
                    country
                </div>
            </div>
            <div>
                <button class="button" id="nationality_button" onclick="nationality_edit();">Edit</button>
            </div>
        </div>
        <div id="nationality_box">

        </div>
        <div>
            <div class="left_item">
                Location:
            </div>
        </div>
        <div>
            <div class="left_item">
                <div class="region">
                    <div>
                        <div class="label">
                            Region:
                        </div>
                        <div id="location_region" class="value">
                            region
                        </div>
                    </div>
                    <div>
                        <div class="label">
                            City:
                        </div>
                        <div id="location_city" class="value">
                            city
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="button" id="location_button" onclick="location_edit();">Edit</button>
            </div>
        </div>
        <div id="location_box">

        </div>
        <div>
            <div class="left_item">
                <div class="label">
                    Intro:
                </div>
            </div>
            <div>
                <button class="button" id="intro_button" onclick="intro_edit();">Edit</button>
            </div>
        </div>
        <div>
            <form id="intro_form">
                <input type='hidden' name='test'>
                <div class="left_item">
                    <textarea id="intro" class="intro"></textarea>
                </div>
            </form>
        </div>
    </div>
</fieldset>

<script>
    region_init(<%=profile.city_id%>);
</script>