nav a {
    margin-left: 5px;
    margin-right: 5px;
}

.nav_channel {
	justify-content:left;
}

body > div > fieldset {
    width: 998px;
    margin-top: 5px;
}

.title {
    border: 0px;
    border-top: 1px solid darkgray;
}

fieldset > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 1024px;
    min-height: 200px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.channel {
    width: 1000px;
}

body > div > fieldset > div > fieldset > div {
    width: 484px;
    height: 150px;
    justify-content: flex-start;
    flex-direction: column;
}

.notice {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.region {
    height: auto;
    min-height: 50px;
    line-height: 30px;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}

.region > a {
    margin-left: 5px;
    margin-right: 5px;
}

.region_title {
    width: 1024px;
    line-height: 35px;
    font-weight: bold;
}


.notice > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice > div > div {
    width: 333px;
    line-height: 35px;
}

body > div > fieldset > div > fieldset > div > div {
    width: 484px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form + div {
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > div > div {
    width: 400px;
    line-height: 35px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

form > div > div > label {
    display: flex;
    width: 100px;
    text-align: left;
    font-weight: bold;
}

form > div > div > input {
    width: 292px;
}

form > div > div > button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form_none {
    background-color: unset;
    width: unset;
    min-height: unset;
    padding-bottom: unset;
}

.form_title {
    font-size: large;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

.form_msg {
    width: 400px;
    line-height: 35px;
    align-items: normal;
    margin-bottom: 5px;
}

.form_redirect {
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
input[type="email"] {
    width: 220px;
}
*/

.normal_email {
    width: 220px;
}

.code {
    width: 100px;
}

.button {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="email"] + button {
    width: 60px;
    margin-left: 10px;
}

.label {
    width: 150px;
}

.text {
    width: 242px;
}

.email {
    width: 172px;
}

.notice_panel {
    width: 1000px;
    margin-bottom: 20px;
    flex-direction: column;
}

.notice_title {
    width: 1000px;
    font-size: large;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

.notice_content {
    width: 1000px;
    min-height: 500px;
    line-height: 30px;
    text-align: left;
}

.notice_pre {
    width: 1000px;
    overflow:scroll;
}

.notice_time {
    width: 1000px;
    line-height: 30px;
    text-align: right;
}

.list_box {
    width: 1000px;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 600px;
}

.list_form {
    width: 1000px;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search_box {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
}

.search_button {
    width: 60px;
    margin-left: 20px;
}

.list_group {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.list_item {
    width: 1000px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_time {
    width: 125px;
}

.paging {
    width: 200px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.region_group {
    width: 968px;
    display: block;
}

.forum_box {
    width: 1022px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: top;

    margin-top: -1px;
    border: 1px solid darkgray;
}


.forum_person {
    width: 201px;
    padding: 10px;
}

.forum_user {
    line-height: 35px;
}

.forum_intro {
    min-height: 145px;
}

.forum_article {
    width: 800px;
    min-height: 180px;
    border-left: 1px solid darkgray;
}

.forum_title {

}

.forum_content {
    min-height: 180px;
}

.forum_footer {
    display: flex;
    justify-content: right;
    align-items: center;
}

.reply_box {
    width: 1022px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    background-color: lightpink;
}

.reply_content {
    width: 720px;
    min-height: 100px;
    border-left: 1px solid darkgray;
}

.reply_content > textarea {
    width: 720px;
    min-height: 90px;
}

.reply_button {
    width: 60px;
    margin-left: 20px;
}

.reply_form {
    width: 800px;
    min-height: 50px;
    padding-bottom: 0;
}

.reply_group {
    width: 800px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction:unset;
}

.reply_group > textarea {
    width: 700px;
    min-height: 80px;
}

.exchange_channel {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}    

/*
#main > div {
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.channel_box {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.channel_group {

}

.channel_item {
    width: 1000px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}