.list_box {
    line-height: 30px;
}

.list_search {

}

.list_msg {

}

.list_control_panel {
    line-height: 30px;
    display:flex;
	justify-content:right;
	align-items:center;
}

.list_group {
    width: 800px;
    
}

.list_title_item {
    width: 800px;
    display:flex;
	justify-content:space-between;
	align-items:center;
    background-color: darkseagreen;
}

.list_item {
    
    margin-top: -1px;
    width: 798px;
    border: 1px solid darkcyan;
}

.list_item_left {
    overflow: hidden;
	text-overflow: ellipsis;
}

.list_item_right {
    display:flex;
	justify-content:center;
	align-items:center;
}

.list_button {
    margin-left: 10px;
}


.list_status {
    width: 70px;
}

.list_time {
    width: 125px;
}


.list_paging_box {
    width: 800px;
}

.list_paging_group {
    width: 400px;
    display:flex;
	justify-content:center;
	align-items:center;
}

.list_paging_group > a {
    margin-left: 5px;
    margin-right: 5px;
}

.list_title {
    width: 200px;
}

.list_name {
    width: 100px;
    overflow: hidden;
	text-overflow: ellipsis;
}