.account_box {
    margin-bottom: 10px;
}

.profile_box {
    margin-bottom: 10px;
}


.account_box > div {
    width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_box > div {
    width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account_box > div > div {
    width: 770px;    
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_box > div > div {
    width: 770px;    
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_item {
    display: flex;
    justify-content: right;
    align-items: center;
}

.label{
    width: 100px;
}

.value {
    width: 200px;
}

.button {
    width: 60px;
}

.region {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.region > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 550px;
    min-height: 200px;
    margin-left: 100px;
}

#nickname_box {
    /*padding-left: 200px;*/
}

#nickname_form > div {
    width: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#nickname_box label {
    width: 100px;
}

#nickname_box input {
    /*width: 150px;*/
}

form > div > label {
    width: 100px;
}

form > div > input {
    width: 200px;
}

#password_box {
    /*padding-left: 200px;*/
}

#password_form > div {
    width: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#password_form > div > label {
    width: 150px;
}

#email_form > div {
    width: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#nationality_form > div {
    width: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}


#location_form > div {
    width: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#location_box {
    /*padding-left: 200px;*/
}

#location_form > div > select {
    width: 200px
}

.email_value {
    width: 200px;
}

.email {
    width: 200px;
}

.send_button {
    width: 60px;
    margin-left: 20px;
}

.code {
    width: 100px;
}

.pwd_space {
    width: 80px;
}

.code_space {
    width: 180px;
}

#nationality_form > div > select {
    width: 200px
}