.oct_box {
    width: 16px;
    height: 16px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.oct_panel {
    width: 200px;
    height: 600px;
    border: 1px solid black;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: antiquewhite;
}

.oct_panel > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.oct_send_box {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: fixed;
    right: 200px;
    bottom: 0;
    background-color: antiquewhite;
}

.oct_send_dialog {
    width: 596px;
    height: 396px;
}

.oct_send_dialog > iframe {
    width: 596px;
    height: 396px;
}

.oct_send_text {
    width: 600px;
    height: 140px;
}

.oct_send_text > iframe {
    width: 600px;
    height: 140px;
}

.oct_send_button {
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}


.oct_dialog_right {
    width: 580px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

.oct_dialog_right div {
    width: 580px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}