<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="T100WPainterElementsPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<object class="notebookpage">
						<object class="wxListView" name="ID_LISTVIEW1" variable="ListView1" member="yes" />
						<label>Page name</label>
					</object>
					<object class="notebookpage">
						<object class="wxListView" name="ID_LISTVIEW2" variable="ListView2" member="yes" />
						<label>Page name</label>
					</object>
					<object class="notebookpage">
						<object class="wxListView" name="ID_LISTVIEW3" variable="ListView3" member="yes" />
						<label>Page name</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
