<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="T100VPCFrame">
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM_START" variable="StartMenu" member="yes">
					<label>Start</label>
					<handler function="OnStartMenuSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM_STOP" variable="StopMenu" member="yes">
					<label>Stop</label>
					<handler function="OnStopMenuSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Debug</label>
				<object class="wxMenuItem" name="ID_MENU_DEBUG" variable="MenuDebug" member="yes">
					<label>Debug</label>
					<handler function="OnMenuDebugSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>Config</label>
				<object class="wxMenuItem" name="ID_MENU_HARDWARE" variable="MenuHardware" member="yes">
					<label>Hardware</label>
					<handler function="OnMenuHardwareSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENU_SETUP" variable="MenuSetup" member="yes">
					<label>Setup</label>
					<handler function="OnMenuSetupSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
