<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="T100VPCHostRunDemoDialog">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>运行：</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>2</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Base：</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_COMBOBOX_BASE" variable="ComboBoxBase" member="yes">
									<handler function="OnComboBoxBaseSelected" entry="EVT_COMBOBOX" />
									<handler function="OnComboBoxBaseTextUpdated" entry="EVT_TEXT" />
									<handler function="OnComboBoxBaseTextEnter" entry="EVT_TEXT_ENTER" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Offset：</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_COMBOBOX_OFFSET" variable="ComboBoxOffset" member="yes">
									<handler function="OnComboBoxOffsetSelected" entry="EVT_COMBOBOX" />
									<handler function="OnComboBoxOffsetTextUpdated" entry="EVT_TEXT" />
									<handler function="OnComboBoxOffsetTextEnter" entry="EVT_TEXT_ENTER" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
