<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="T100DiskBrowsePartDemoDialog">
		<size>800,600</size>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer3" member="no">
							<object class="sizeritem">
								<object class="wxGenericDirCtrl" name="ID_GENERICDIRCTRL1" variable="GenericDirCtrl1" member="yes">
									<defaultfolder></defaultfolder>
									<filter></filter>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<object class="sizeritem">
								<object class="wxGenericDirCtrl" name="ID_GENERICDIRCTRL2" variable="GenericDirCtrl2" member="yes">
									<defaultfolder></defaultfolder>
									<filter></filter>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="Menu1" member="yes">
			<object class="wxMenu" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
				<label>Folder</label>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
					<label>Create</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="yes">
					<label>Remove</label>
				</object>
			</object>
			<object class="wxMenu" name="ID_MENUITEM4" variable="MenuItem4" member="yes">
				<label>File</label>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem5" member="yes">
					<label>Copy</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem6" member="yes">
					<label>Remove</label>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
